#score-container {
    position: absolute;
    color: yellow;
    font-size: 36px;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
}

#tremor {
    position: absolute;
    color: yellow;
    font-size: 36px;
    margin-top: 10px;
    margin-top: 400px;
    margin-left: -200px;
    height: 30px;
    width: 220px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

#naruto {
    position: absolute;
    color: yellow;
    font-size: 36px;
    margin-top: 400px;
    margin-left: 200px;
    height: 30px;
    width: 210px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;

}

#pixel-logo {
    position: absolute;
    margin-top: 150px;
}

#my-peak-meter {
    position: absolute;
}

#start-menu{
    position: absolute;
    color: yellow;
    font-size: 40px;
    height: 300px;
    width: 600px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 380px;
}

#end-menu{
    position: absolute;
    color: yellow;
    font-size: 40px;
    width: 700px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 380px;
    text-align: center;
}

.playing {
    display: none;
}

.beginning{
    display: none;
}

.note-gif {
    position: absolute;
}

#whole {
    display: flex;
    justify-content: center;
}

#top-gif {
    position: absolute;
}

#blue {
    margin-left: 300px;
}

#pink {
    margin-left: -100px;
}

#green {
    margin-left: -300px;
}

#canvas {
    border: 6px solid yellow;
    border-radius: 10px;
}

a {
    position: absolute;
    text-decoration: none;
    font-size: 36px;
    margin-left: 5px;
    margin-top: 10px;
    color: yellow;
    z-index: 10;
}

a:hover {
    cursor: pointer;
}

.linkedin {
    margin-left: 200px;
}

.github {
    margin-left: 235px;
}